.header {
  border-bottom: 1px solid rgb(235, 237, 240);
  width: 100%;
  position: fixed;
  top: 0; 
  left: 0;
  height: 64px;
  box-shadow: 0 0 2px 2px #f3f3f3;
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
}